.max-width1 {
  max-width: 80vw;
}

.max-width2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}
.mx {
  margin-left: 23px;
  margin-right: 23px;
}
.my2 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.btn {
  padding: 4px 15px;
  border: 2px solid black;
  border-radius: 6px;
  font-family: "Baloo Bhai", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgb(174, 19, 19);
  color: white;
  padding: 4px 20px;
}

.form-input {
  padding: 4px 5px;
  margin: 0 13px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 4px;
  font-family: "Baloo Bhai", sans-serif;
}

.form-box input,
textarea {
  width: 54vw;
  padding: 4px 6px;
  margin: 7px 0;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgb(174, 19, 19);
}
.font1 {
  font-family: "Baloo Bhai", sans-serif;
}

.font2 {
  font-family: "Bree Serif", serif;
}

.font3 {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
}

.font4 {
  font-family: "Ubuntu", sans-serif;
}
